$bg: rgb(255, 255, 255);
$bg2: rgb(18, 117, 157);
$bg-hover: rgb(36, 115, 179);
$border: rgba(183, 228, 255, 0.85);
$border-hover: rgb(45, 115, 158);
$text: #1a1c20;
$text2: rgb(15, 78, 117);
$text-hover: rgb(236, 236, 236);
$hover: rgba(21, 94, 140, 0.85);
$radius: 10px;
$radius-bg: 20px;
$transition: all 0.3s ease-in-out;
$size: clamp(14px, 4vw, 20px);
$size-bg: clamp(16px, 4vw, 22px);
$size-sm: clamp(12px, 4vw, 18px);
