@use "../../styles/mixin.scss" as *;
@use "../../styles/variables.scss" as *;

.section_wrapper {
  width: 100%;
  min-height: 620px;
  position: relative;
  @include flex;
  padding: 20px;
  background: url(../../../assets/img/background.png) center / cover no-repeat;
}

.section_container {
  width: 50%;
  @include flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding: 40px 30px;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $border;
    border-radius: 40px;
    filter: blur(3px);
    z-index: 0;
  }

  > * {
    position: relative;
    z-index: 1;
  }
}

.tag {
  text-transform: uppercase;
  background: $bg;
  padding: 5px 15px;
  border-radius: $radius;
}

.subtitle {
  padding: 5px 10px;
  perspective: 385px;
  transform: rotateX(2deg) rotateY(350deg);
  transform-style: preserve-3d;
  background: $bg;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.btn_wrapper {
  width: 100%;
  padding: 0 10px;
  @include flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.btn {
  padding: 12px 25px;
  border-radius: $radius-bg;
  background: $bg;
  outline: 1px solid $text2;
  transition: $transition;

  &:hover {
    background: $bg-hover;
    color: $text-hover;
    transform: scale(1.1);
  }

  &_outline {
    background: $bg2;
    color: $text-hover;
  }
}

.metrics {
  @include flex;
  flex-wrap: wrap;
  gap: 20px;
}

.metric {
  line-height: 1;
  span {
    font-size: clamp(14px, 4.5vw, 20px);
    color: #1f4f2b;
  }

  div {
    font-size: clamp(12px, 4.5vw, 18px);
  }
}
