@use "../../styles/mixin.scss" as *;
@use "../../styles/variables.scss" as *;

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 2rem 5rem;
  gap: 1rem;
  background-repeat: no-repeat;
  background-image:
    repeating-linear-gradient(
      60deg,
      transparent 0px,
      transparent 1px,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0.05) 2px
    ),
    repeating-linear-gradient(
      -60deg,
      transparent 0px,
      transparent 1px,
      rgba(255, 255, 255, 0.05) 1px,
      rgba(255, 255, 255, 0.05) 2px
    ),
    linear-gradient(
      60deg,
      rgba(43, 108, 176, 0.4) 0%,
      rgba(72, 126, 176, 0.4) 33%,
      rgba(95, 142, 176, 0.4) 66%,
      rgba(116, 157, 176, 0.4) 100%
    ),
    radial-gradient(
      circle at 50% 50%,
      rgba(255, 255, 255, 0.2) 0%,
      transparent 50%
    );

  &_head {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;

    p {
      color: $text2;
      font-weight: 600;
      font-size: $size;
    }
  }
}

.directions {
  width: fit-content;
  color: #fff;
  text-transform: uppercase;
  padding: 0.7rem 1.5rem;
  border-radius: $radius-bg;
  background: $bg2;
  outline: 1px solid $border;
}

.tabs {
  @include flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.tab {
  border: 1px solid $border;
  background: $bg;
  border-radius: 999px;
  transition: $transition;
  padding: 0.7rem 1.2rem;

  &:hover {
    background: $hover;
    color: #fff;
  }

  &.active {
    background: $bg2;
    color: #fff;
  }
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.2rem;
}

.country_card {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  padding: 1.2rem;
  cursor: pointer;
  background: $bg;
  border: 1px solid $border;
  border-radius: $radius;
  transition: $transition;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0 1px 10px 7px $border;
  }

  &_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.7rem;
  }
}

.country_category {
  font-size: $size-sm;
  color: #fff;
  border-radius: $radius-bg;
  padding: 0.4rem 0.8rem;
  background: $bg2;
}

.country_price {
  font-size: $size-sm;
}

ul {
  padding-left: 1rem;
  list-style: disc;
  flex: 1;

  li {
    margin-top: 5px;
  }
}

.card_btn {
  font-size: $size-sm;
  width: 100%;
  text-align: center;
  border: 1px solid $border;
  background: $bg;
  border-radius: 999px;
  transition: $transition;
  padding: 0.7rem 1.2rem;

  &:hover {
    background: $hover;
    color: #fff;
  }
}

@media (max-width: 1350px) {
  .section {
    padding: 2rem;
  }
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 768px) {
  .tabs {
    gap: 0.7rem;
  }

  .tab {
    padding: 8px 16px;
  }

  .cards {
    grid-template-columns: 1fr;
  }

  .country_card {
    padding: 1rem;
  }
}
